.Checkout {
	padding: 3rem;
}

.checkout-form {
	padding: 10px 40px 50px 40px;
	width: fit-content;
	display: flex;
	gap: 30px;
	margin: 0 auto;
	flex-direction: row;
}

.checkout-cart-items {
	grid-area: 1 / 2 / -1 / -1;
	overflow: auto;
}

.customer-info {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.checkout-form fieldset {
	border: 0;
	padding: 0;
}

.checkout-form legend {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0;
	margin-bottom: 10px;
}

.checkout-form label {
	color: #ccc;
}

.checkout-form input:not([type="number"]) {
	background-color: #2d2d2d;
	border: 1px solid #2d2d2d;
	padding: 10px;
	width: 250px;
	color: white;
	transition: 0.25s all ease-in-out;
}

input:focus {
	border: 1px solid white;
	outline: none;
}

.form-row label {
	display: block;
	margin-bottom: 3px;
	font-size: 0.8rem;
}

.form-rows {
	display: grid;
	grid-template-columns: repeat(2, 300px);
	gap: 12px;
}

.checkout-cart-items {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.order-info {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	width: auto;
}

.total {
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.btn-place-order {
	font-size: 1.2rem;
	padding: 0.5rem;
	background-color: rgb(0, 136, 16);
	align-self: stretch;
}

.btn-place-order:hover {
	background-color: rgb(0, 159, 19);
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 880px) {
	.checkout-form {
		flex-direction: column;
	}

	.order-info {
		width: 25rem;
	}
}
